@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00C16A;
    --color-text: #111827;
    --color-title: #111827;

    background-color: #FFF;
    color: var(--color-text);
  }

  :root[class~="dark"] {
    --color-primary: #00DC82;
    --color-text: #9ca3af;
    --color-title: #FFF;

    background-color: #020420;
    color: var(--color-text);
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply text-title dark:text-title;
}
